@import '../colors.scss';
@import '../variables.scss';
$button-color : white;
.button {
  
    padding: 8px 15px;
    font-size: calc(0.2vw + 16px);
    transition: all .2s;
    border-radius: 4px;
    box-shadow: $shadow-lite ;
    border : none;
    cursor: pointer;
    
}


.button[data-variant='secondary'] {
    background-color: $blue;
   
}
.button[data-variant='primary'] {
    background-color: $purple;
    
}
.button:hover {
    box-shadow: $shadow ;
}
.button[data-variant='secondary']:hover {
    
    background-color: darken($blue, 5);
}
.button[data-variant='primary']:hover {
    
    background-color: darken($purple, 5);
}

.button:active {
   opacity: 0.8;
}