@import '../main.scss';
.form {
    
    box-shadow: $shadow;
    padding: 40px 0px;
    padding-top: 16px;
    max-width: 550px ;
    background-image: linear-gradient(to right , $violet , $dark-blue);
    

    form {
        display: flex;
        width: 90%;
        margin: 0 5%;
        justify-content: center;
        flex-direction: column;
    }

    form > div {
     
        margin: 26px 0;
        label {
            position: absolute;
            transform: translate(0,-30px);
            opacity: 0.8;
            display: block;
            transition: opacity .2s , transform .2s;
        }
        input, textarea {
            width: 100%;
            background-color: transparent;
            border: solid 2px rgb(179, 178, 178);
            transition: all .15s;
            
        }
        
        textarea {
            resize: none;
            padding: 8px;
          
           
        }
        input  {
            font-size: calc(.1vw + 16px);
            border: none;
            border-bottom: 2.5px solid  rgb(179, 178, 178);
            height: 30px;
            margin-top: 8px;
          
           
           
        }
      
        input:hover , textarea:hover {
            
            border-color: lighten($purple , 30);
        }
        input:focus , textarea:focus {
          
            border-color: lighten($purple , 40);
          
        }
        input:focus + label{
            opacity: 1;
            transform: translate(0,-60px);
            
        }

        input:invalid {
           
            box-shadow: none;
            
            border-color: rgb(238, 8, 8);
            
        }
        input:invalid + label {
            color :rgb(236, 73, 73);
        }
        input:not(:placeholder-shown)  + label {
            transform: translate(0,-60px);
            
        }
      
      
    }
    button {

        font-weight: 600;
    }
    

    @include responsive('mobile') {
        
        form {
            width: 95%;

            margin: 0  2.5%;
        }
    }
 
}

.title {
    font-size: calc(.3vw + 1.3rem) ;
    margin: 16px 0;
    text-align: center;
}